parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
        - %currentWorkingDirectory%/stubs/
    excludePaths:
        - %currentWorkingDirectory%/tests/*
