<?xml version="1.0"?>
<phpunit
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    executionOrder="random"
    
    >
    <testsuites>
        <testsuite name="core">
            <directory prefix="Test_" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

     <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="coverage-report/logs/clover.xml"/>
    </logging>
</phpunit>