<?xml version="1.0"?>
<phpunit
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    executionOrder="random"
    >
    <testsuites>
        <testsuite name="core">
            <directory prefix="Test_" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
</phpunit>
